.product-page {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.main-image {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  padding: 5px;
  background-color: #f9f9f9;
}

.product-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-type {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 15px;
}

.product-price {
  font-size: 1.8rem;
  color: #E43B14;
  font-weight: bold;
  margin-bottom: 15px;
}

.product-description {
  font-size: 1rem;
  color: #444;
  line-height: 1.5;
}

.btn-warning {
  background-color: #ffa500;
  border: none;
  font-size: 1.2rem;
}

.preco-card {
  font-size: 2.6rem;
}

/* ESTILIZAÇÃO DOS CARDS */
.card_produto {
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card_produto:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.link_card {
  text-decoration: none;
  color: #1E201E;
}

.nome-produto {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
}

.preco-produto {
  color: #EA3C0E;
  font-size: 1.6rem;
}